@media screen and (min-width: 960px) {

    .data-entry_input {
        height: 2em;
        margin-left: .9em;
        margin-top: .25em;
        font-size: 15px;
    }

    .data-entry_saves {
        font-size: 15px;
        margin-left: 7em;
        width: 15em;
    }
    .data-entry_clear {
        font-size: 15px;
        margin-top: 1.25em;
        margin-left: -4.2em;
        width: 15em;
    }
    
    .grid-container {
        margin-left: 1em;
        grid-template-columns: 450px 300px;
        
    }
        
    .grid-item {
        font-size: 25px;
    }
    .select {
        width: 10em;
    

}

    }    