@media screen and (min-width: 960px) {

    .data-entry_input {
        flex-direction: row;
        width: 47%;
        margin-left: .9em;
        margin-top: .25em;
    }
    
    .grid-container {
        grid-template-columns: 600px 400px;
        margin-left: 6.5em;
    }
        
    .grid-item {
        font-size: 25px;
    }
    }    